.card {
  max-height: 257px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(212, 233, 236, 1); //non of the give colors didn't match so i made one
  position: relative;
  padding: 32px 19px 19px;
  max-width: 1110px;
  margin: 40px auto 0;

  @include breakpoint(tablet) {
    max-height: 152px;
    display: flex;
    justify-content: space-between;
    padding: 32px 19px;
  }

  &__job-header {
    display: flex;
    align-items: center;
  }

  &__position {
    font-size: 15px;
    font-weight: 700;
    color: $veryDarkGrayishCyan;
    margin: 12px 0 17px;

    @include breakpoint(tablet) {
      font-size: 18px;

      &:hover {
        color: $darkCyan;
        cursor: pointer;
      }
    }
  }

  &__job-info {
    padding-bottom: 15px;
    border-bottom: 1px solid $darkGrayishCyan;

    @include breakpoint(tablet) {
      display: flex;
      flex-direction: row-reverse;
      border: none;
      padding: 0;
    }
  }

  &__tag-new,
  &__tag-featured {
    font-size: 11px;
    color: $white;
    text-transform: uppercase;
    padding: 8px 9px 7px;
    border-radius: 100px;
    text-align: center;
    font-weight: 700;
    max-height: 24px;
  }

  &__tag-new {
    background-color: $darkCyan;
    margin-right: 8px;
  }

  &__tag-featured {
    background-color: $veryDarkGrayishCyan;
  }

  &__company-name {
    font-size: 13px;
    font-weight: 700;
    color: $darkCyan;
    margin-right: 18px;

    @include breakpoint(tablet) {
      font-size: 14px;
    }
  }

  &__company-logo {
    max-width: 48px;
    max-height: 48px;
    position: absolute;
    top: -24px;

    @include breakpoint(tablet) {
      max-width: 88px;
      max-height: 88px;
      position: static;
      margin: 0 25px 0 21px;
    }
  }

  &__company-logo__img {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__position-detail {
    font-size: 13px;
    font-weight: 500;
    color: $darkGrayishCyan;

    @include breakpoint(tablet) {
      font-size: 15px;
    }
  }

  &__position-detail:nth-child(2) {
    margin: 0 10px;
    position: relative;
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      background-color: $darkGrayishCyan;
      border-radius: 100px;
    }

    &::after {
      right: -10px;
    }
    &::before {
      left: -9px;
    }
  }

  &__job-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;

    @include breakpoint(tablet) {
      margin: 0;
      margin-right: 21px;
      justify-content: center;
      align-items: center;
    }
  }

  &__job-tag {
    max-height: 32px;
    font-size: 13px;
    color: $darkCyan;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 9px 9px;
    background-color: $lightGrayishCyanFT;
    margin-top: 16px;
    display: block;
    border-radius: 5px;

    @include breakpoint(tablet) {
      margin-top: 0;

      &:hover {
        cursor: pointer;
        background-color: $darkCyan;
        color: $white;
      }
    }
  }

  &__job-tag:not(:last-child) {
    margin-right: 15px;
  }
}

.card-border {
  &::after {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    content: "";
    background-color: $darkCyan;
  }
}
